.title-class {
    font-family:'Times New Roman', Times, serif;
    color: #1e306c;
    text-align: center;
    font-size: 36px;
}

.search-container {
    display: flex;
    justify-content: center;
}

.input-class {
    text-align: center;
    color: gray;
    border-width: 1px;
    border-radius: 15px;
    font-size: 18px;
}

.search-button {
    background-color: green;
    color: white;
    border-width: 2px;
    border-radius: 25px;
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
}

.country-info { 
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-info-text {
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 5px;
}

.show-border {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(100, 100, 100);
}